<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Squarestore!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="sq-viewport">
    <div class="sq-page">
      <nav class="sq-nav-area">
        <div role="navigation" class="sq-navbar-layout">
			<div class="sq-navbar-nav  sq-secondary sq-text-right">
      <!--Commersial links -->
				<div class="sq-air-x-05">
					<a href="#" class="sq-text-white sq-secondary sq-r-border">Welcome to our store!</a>
					<a href="#" class="sq-text-white sq-secondary sq-r-border">Sign up for our newsletter</a>
					<a href="#" class="sq-text-white sq-secondary">Contact us</a>
				</div>
    <!--NAVNAR Part 2/3-->
			</div>
			<div class="sq-navbar-domain  sq-secondary" style="width:100%;display:flex;">
				<a href="#" class="sq-text-white sq-secondary">DummyDomain</a>
				<div class="sq-flex-1"></div>
				<!-- Searchbar -->
				<div class="sq-flex-auto">
					<input type="text" placeholder="search.." name="search"	style="width: 80%; height: 30%;">
				</div>
				<!--Shoppingcart & Sign in buttons -->
				<div class="sq-flex-1 sq-text-right">
					<div class="sq-air-x-05">
					<button class="sq-nav-button-1">Sign in</button>
					<button>Shopping cart</button>
					</div>
				</div>
			</div>
			<!--NAVBAR Part 3/3 -->
			<div class="sq-navbar-links sq-secondary-highlight sq-text-center">
				<div class="sq-nav-btn-group">
					<Button>Categories</Button>
					<button>Some really cool things</button>
					<button>Some products</button>
					<button>other products</button>
					<button>other products</button>
					<button>All Products</button>
					<button>Campaign products</button>
				</div>
			</div>
		</div>
	</nav>
    <main role="" class="sq-main">
    	<%= render @view_module, @view_template, assigns %>
    </main>
	<footer>
		<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
		<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
	</footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
