<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Squarestore!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="sq-viewport">
    <div class="sq-page">
      <nav class="sq-nav-area">
        <div role="navigation" class="sq-navbar-layout">
			<div class="sq-navbar-nav  sq-secondary sq-text-right">
				<span>Welcome to our store! |</span>
        <span>Sign up for our newsletter</span>
        <span>| Contact us</span>
			</div>
			<div class="sq-navbar-domain  sq-secondary" style="width:100%;display:flex;">
        <a href="#" class="sq-text-white sq-secondary">DummyDomain</a>
       <div class="sq-flex-1"></div>

       <div class="sq-flex-auto">
       <input type="text" placeholder:"search.." name="search"
        style="width: 80%; height: 30%;">
       </div>

        <div class="sq-flex-1 sq-text-right">
          <button class="sq-nav-button-1">Sign in</button>
          <button>Shopping cart</button>
        </div>
			</div>
			<div class="sq-navbar-links sq-secondary-highlight" align="center">
			<Button>All products</Button>
      <button>Some really cool thing</button>
      <button>Some products</button>
      <button>other products</button>
      <button>other products</button>
			<button>far - left / antifa products</button>
      <button>Luctrative products</button>
      </div>
        </div>
	  </nav>
      <main role="" class="sq-main">
    	<%= render @view_module, @view_template, assigns %>
      </main>
	  <footer>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
	  </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
