/*the box before collapsible - connected to JS*/
.sq-collapsible{
    cursor: pointer;
    text-align:center; 
  }
  .active, .sq-collapsible:hover{
    background-color:var(--muted);
}
  /*the element that will be shown, the content*/
  .sq-collapsible-content{
    display:none;
    overflow:hidden;
    /*max-width:7em;*/
  }