[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url],
[type=week],
[type=time],
.sq-form select,
.sq-form textarea{
    max-width: 100%;
    min-width:95%;
    border:none;
    border-top: solid .1em var(--background);
    border-bottom: solid .1em var(--primary);
    margin-bottom: 1rem;
    padding: 0.5em;
    background-color: var(--background);
}
.sq-form label{
    margin:0px;
    padding: 0px;
    font-weight: bold;
}
.sq-form form p{
    margin:0;
    padding:0;
    font-weight: 300;
    font-style: italic;
    font-size: 80%;
}
.sq-btn{
    height:100%;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color:var(--background);
    padding:0;
    margin:0;
}
.sq-btn:active {
    -webkit-box-shadow: inset 1px 1px 10px var(--text-base);
    -moz-box-shadow:    inset 1px 1px 10px var(--text-base);
    box-shadow:         inset 1px 1px 10px var(--text-base);
}
.sq-form input[type=button], input[type=submit], input[type=reset], button[type=button], button[type=submit], button[type=reset] {
    background-color: var(--success);
    border: none;
    color: var(--white);
    padding: 0.5rem 2rem;
    text-decoration: none;
    margin: 0.2rem;
    cursor: pointer;
}
.sq-form select:focus,
.sq-form textarea:focus,
.sq-form input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):focus{
    -webkit-box-shadow: 0 10px 6px -6px var(--accent-grey);
	  -moz-box-shadow: 0 10px 6px -6px var(--accent-grey);
	  box-shadow: 0 10px 6px -6px var(--accent-grey);
    outline: 0;
    border: solid .12em var(--primary)
}
.sq-form input:optional{border-left-color: var(--info);}
.sq-form input:required:valid{border-left-color: var(--success);}
.sq-form input:invalid{border-left-color: var(--danger);}
.sq-form label input{padding-left: 1em;}
.sq-form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==") 100% no-repeat;
    line-height: 1;
    color: var(--accent-grey)
}
.sq-form label input[type="radio"],
.sq-form label input[type="checkbox"]{
    margin: 0.5em;
    text-align: center;
}
.sq-form input[type="radio"],
.sq-form input[type="checkbox"]{
     /* 1 */
     display: inline-block;
     height: 16px;
     width: 16px;
     /* 2 */
     overflow: hidden;
     /* 3 */
     margin-top: -4px;
     vertical-align: middle;
     /* 4 */
     -webkit-appearance: none;
     -moz-appearance: none;
     /* 5 */
     background-color: transparent;
     /* 6 */
     background-repeat: no-repeat;
     background-position: 50% 50%;
     border: 1px solid var(--muted);
     transition: 0.2s ease-in-out;
     transition-property: background-color, border;
}
.sq-form input[type="radio"]{border-radius: 50%;}

 /* Focus */
.sq-form input[type="radio"]:focus,
.sq-form input[type="checkbox"]:focus{
     outline: none;
     border-color: var(--primary);
}
.sq-form input[type="radio"]:checked{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");}
.sq-form input[type="checkbox"]:checked{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");}
.sq-form input[type="checkbox"]:indeterminate{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23fff%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");}

/*Disabled*/
.sq-form input[type="radio"]:disabled,
[type="checkbox"]:disabled{
  background-color: var(--white);
  border-color: var(--background-secondary);
}
.sq-form input[type="radio"]:disabled:checked{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23999%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");}
.sq-form input[type="checkbox"]:disabled:checked{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");}
.sq-form input[type="checkbox"]:disabled:indeterminate{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23999%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");}
.sq-form input[type="radio"]:checked,
.sq-form input[type="checkbox"]:checked,
.sq-form input[type="checkbox"]:indeterminate{
     background-color: var(--info-highlight);
     border-color: transparent;
}
 /* Focus */
.sq-form input[type="radio"]:checked,
.sq-form input[type="checkbox"]:checked,
.sq-form input[type="checkbox"]:indeterminate:focus{
     background-color: var(--primary);
}
