.sq-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.sq-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.sq-close-button {
    margin-right: 0.5em;
    margin-top: 0.3em;
    float: right;
    cursor: pointer;
    background-color:var(--primary);
    font-size: 1.5em;
}
.sq-close-button:hover {

    background-color:var(--primary-highlight)
}
.sq-show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.sq-btn{
    height:100%;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color:var(--background);
    padding:0;
    margin:0;
}
.sq-btn:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}