
.sq-shadow-lt {
    box-shadow: 0 0.063em 0.188em var(--shadow-31p), 0 0.063em 0.125em var(--shadow-61p);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .sq-shadow-lt:hover {
    box-shadow: 0 0.875em 1.750em var(--shadow-64p), 0 0.625em 0.625em var(--shadow-56p);
  }
  .sq-shadow-sm {
    box-shadow: 0 0.188em 0.375em var(--shadow-41p), 0 0.188em 0.375em var(--shadow-59p);
  }
  .sq-shadow-md {
    box-shadow: 0 0.625em 1.250em var(--shadow-48p), 0 0.375em 0.375em var(--shadow-59p);
  }
  .sq-shadow-lg {
    box-shadow: 0 0.875em 1.750em var(--shadow-64p), 0 0.625em 0.625em var(--shadow-56p);
  }
  .sq-shadow-xl {
    box-shadow: 0 1.188em 2.375em var(--shadow-77p), 0 0.938em 0.750em var(--shadow-56p);
  }
