
.sq-shadow-lt {
    box-shadow: 0 0.063em 0.188em rgba(0,0,0,0.12), 0 0.063em 0.125em rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .sq-shadow-lt:hover {
    box-shadow: 0 0.875em 1.750em rgba(0,0,0,0.25), 0 0.625em 0.625em rgba(0,0,0,0.22);
  }
  .sq-shadow-sm {
    box-shadow: 0 0.188em 0.375em rgba(0,0,0,0.16), 0 0.188em 0.375em rgba(0,0,0,0.23);
  }
  .sq-shadow-md {
    box-shadow: 0 0.625em 1.250em rgba(0,0,0,0.19), 0 0.375em 0.375em rgba(0,0,0,0.23);
  }
  .sq-shadow-lg {
    box-shadow: 0 0.875em 1.750em rgba(0,0,0,0.25), 0 0.625em 0.625em rgba(0,0,0,0.22);
  }
  .sq-shadow-xl {
    box-shadow: 0 1.188em 2.375em rgba(0,0,0,0.30), 0 0.938em 0.750em rgba(0,0,0,0.22);
  }