/*How far out the examples will go on the page*/
.sq-underline-width{
    max-width:60%;
    width:50%;
  }
/*Classes*/

/*Sliding Underline from Top to Bottom Start*/
.sq-sliding-topBot {
    text-decoration: none;
    display: inline-block;
    border-bottom: 0px solid transparent;
    width: 210px;
    transition: 0.5s ease;
    height: 25px;
}
.sq-sliding-topBot:hover {border-bottom: 3px solid var(--info);}
/*Sliding underline top to Bottom End*/

/*Sliding Underline Right to Left Start*/
.sq-sliding-rightToLeft {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right:100px;
}
.sq-sliding-rightToLeft:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sq-sliding-rightToLeft:hover:after {
    width: 100%;
    background: var(--info);
}
/*Sliding underline right to left end*/

/*Sliding underline Left to Right Start*/
.sq-sliding-leftToRight {display: inline-block;}
.sq-sliding-leftToRight:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sq-sliding-leftToRight:hover:after {
    width: 100%;
    background: var(--info);
}
/*Sliding Underline Left to Right End*/

/*Sliding Underline Middle Out Start*/
.sq-sliding-middleOut {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right:100px;
}
.sq-sliding-middleOut:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sq-sliding-middleOut:hover:after {
    width: 100%;
    background: var(--info);
}
/*Sliding Underline Middle Out End*/

/*Sliding Underline keep going right Start*/
.sq-sliding-inAndOnward {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right:100px;
}
.sq-sliding-inAndOnward:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sq-sliding-inAndOnward:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: var(--info);
    transition: width .5s ease;
}
.sq-sliding-inAndOnward:hover:before {
    width: 100%;
    background: var(--info);
    transition: width .5s ease;
}
.sq-sliding-inAndOnward:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
/*Sliding Underline keep going right End*/

/*Sliding Underline Stay until hovers over Start*/
.sq-sliding-stayTilHover {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sq-sliding-stayTilHover:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
.sq-sliding-stayTilHover:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: var(--info);
    transition: width .5s ease;
}
.sq-sliding-stayTilHover:hover:before {
    width: 0%;
    background: var(--info);
    transition: width .5s ease;
}
.sq-sliding-stayTilHover:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}
/*Sliding Underline Stay until hover over End*/
.sq-l-padding-15{padding-left:15em;}
