.sq-tabs{
    display: flex;
    flex-wrap: wrap;
}
.sq-tabs label{
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background ease 0.2s;
}
.sq-tabs .sq-tab{
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
}
.sq-tabs input[type="radio"]{
    display: none;
}
.sq-tabs input[type="radio"]:checked + label{border-bottom:solid .2em var(--primary)}
.sq-tabs input[type="radio"]:checked + label + .sq-tab{display: block;}
.sq-tabs label{
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
.reset-box{
      margin: 5em;
      height: 15em;
      width: 32em;
      border: double 1px black;
}
