/*  Text fonts */
h1 {font-size: 1.8rem;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.4rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1.1rem;}
h6 {font-size: 0.9rem; font-weight: 600;}
p {font-size: 0.9rem;}

/* Bold */
.sq-bold{ font-weight: bold;}

.sq-bolder{ font-weight: bolder;}


/*   Font family   */
.sq-serif{ font-family: serif;}

.sq-sans-serif{ font-family: sans-serif;}

.sq-cursive{ font-family: cursive;}

.sq-fantasy{ font-family: fantasy;}

/*   Font-size   */

.sq-text-small {
    font-size: 0.84rem;
    line-height: 1.5;}

.sq-text-large {
    font-size: 1.5rem;
    line-height: 1.5;}

/* Text with colors (Muted, Warning, Success and Danger) */

.sq-text-muted { color: #999 !important;}

.sq-text-success { color: #32d296 !important;}

.sq-text-warning { color: #faa05a !important;}

.sq-text-danger { color: #f0506e !important;}

/*   Text Tranform-modifiers   */

.sq-text-uppercase {text-transform: uppercase !important;}

.sq-text-capitalize {text-transform: capitalize !important;}

.sq-text-lowercase {text-transform: lowercase !important;}


/* Text-Decoration Lines */

.sq-overline{ text-decoration: overline;}

.sq-underline{ text-decoration: underline;}

.sq-linetrough{ text-decoration: line-through;}

/* DropCaps */

/* .sq-firstcharacter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;}

p:first-child:first-letter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 200%;
    line-height: 25px;
    padding-top:0px;
    padding-right: 0px;
    padding-left: 3px;
  } */

/* Text align */

.sq-text-left {text-align: left !important;}

.sq-text-right {text-align: right !important;}

.sq-text-center {text-align: center !important;}

.sq-text-justify {text-align: justify !important;}
